<div class="row">
  <div class="col-12">
    <%= form_with model: @article, class: 'form-horizontal', role: 'form' do |f| %>
      <% if @article.errors.any? %>
        <div class="card bg-danger offset-md-1">
          <div class="card-body">
            <h2 class="card-title text-white">
              <%= pluralize(@article.errors.count, 'error') %>
              prohibited this article from beign saved:
            </h2>
            <ul>
              <% @article.errors.full_messages.each do |msg| %>
                <li class="text-white"><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-1 py-2">
          <%= f.label 'Title', class: 'form-label' %>
        </div>
        <div class="col-md-11 py-2">
          <%= f.text_field :title, class: 'form-control', placeholder: 'Title of article', autofocus: true %>
        </div>
        <div class="col-md-1 py-2">
          <%= f.label 'Body', class: 'form-label' %>
        </div>
        <div class="col-md-11 py-2">
          <%= f.text_field :body, class: 'form-control', rows: 10, placeholder: 'Body of article' %>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-1 col-md-11 py-2">
          <%= f.submit @article.new_record? ? 'Create Article' : 'Update Article', class: 'btn btn-primary btn-lg float-end' %>
        </div>
      </div>
    <% end %>
  </div>
</div>